.reset-password-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.reset-password-box {
    width: 350px;
    padding: 40px;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.reset-password-title {
    font-size: 22px;
    margin-bottom: 30px;
    color: #262626;
    font-weight: bold;
}

.reset-password-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}

.reset-password-button {
    width: 100%;
    padding: 12px;
    background-color: #3897f0;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.reset-password-button-success {
    width: 100%;
    padding: 12px;
    background-color: #ffffff;
    color: #3897f0;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.reset-password-button-success > a:visited, .reset-password-button-success > a {
    color: #3897f0;
    text-decoration-line: none;
}

.reset-password-message {
    margin-top: 15px;
    font-size: 14px;
    color: #777;
}